<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Tools for Data Science</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p>This notebook will explain list tools data science.<p>

<strong>This notebook have objective list:</strong>
<ul>
    <li>Populer Languanges for data science use.</li>
    <li>Populer library for data science.</li>
    <li>List tools for data science.</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

popular languages that Data Science:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

List libraries used by Data Science:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Tools For Data Science:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Watson Studio</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td>Git and Github</td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

In [2]:
# Arithmetic operations
Aritmatik = (12+3)*1
print(Aritmatik)

15

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

In [3]:
(10*11)+1
# Result: 17

111

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

In [7]:
mins = 150
hours = mins/60

print(str(hours) + " hours ")

# Result: 3.3333333333333335 hours

2.5 hours

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<strong>This notebook have objective list:</strong>
<ul>
    <li>Populer Languanges for data science use.</li>
    <li>Populer library for data science.</li>
    <li>List tools for data science.</li>
</ul>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> Muhamad Ardiansyah Putra Wibowo